body{
    margin:0;
    font-family: 'Segoe UI', sans-serif;
    background:#0b0f0c;
    color:#fff;
}

/* HEADER FIXO */
header{
    position:fixed;
    width:100%;
    top:0;
    display:flex;
    justify-content:space-between;
    padding:20px 40px;
    background:rgba(0,0,0,0.6);
    backdrop-filter:blur(10px);
    z-index:1000;
}

.logo{
    font-size:20px;
    color:#e6c2a6;
    font-weight:bold;
}

nav a{
    margin-left:20px;
    color:#fff;
    text-decoration:none;
}

/* HERO */
.hero{
    height:100vh;
    background:url("fundo.jpg") center/cover no-repeat;
    display:flex;
    align-items:center;
    justify-content:center;
}

.hero-content{
    text-align:center;
    background:rgba(0,0,0,0.5);
    padding:50px;
    border-radius:20px;
}

/* BOTÃO */
button{
    background:#e6c2a6;
    border:none;
    padding:15px 25px;
    cursor:pointer;
    margin-top:20px;
    font-size:16px;
}

/* SEÇÕES */
section{
    padding:100px 20px;
    text-align:center;
}

/* CARDS GLASS */
.cards{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.card{
    background:rgba(255,255,255,0.05);
    backdrop-filter:blur(10px);
    padding:30px;
    border-radius:20px;
    width:250px;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
}

/* GALERIA */
.galeria{
    display:flex;
    gap:15px;
    justify-content:center;
    flex-wrap:wrap;
}

.galeria img{
    width:300px;
    border-radius:15px;
    transition:0.3s;
}

.galeria img:hover{
    transform:scale(1.05);
}

/* WHATSAPP */
.whatsapp{
    position:fixed;
    bottom:20px;
    right:20px;
    background:#25D366;
    padding:15px;
    border-radius:50%;
}

/* MOBILE */
@media(max-width:768px){

    header{
        flex-direction:column;
    }

    .hero{
        height:80vh;
    }

    .card{
        width:100%;
    }

    .galeria img{
        width:100%;
    }
}