body {
    margin: 0;
    font-family: Arial;
    background: #3E5A47; /* verde da logo */
    color: #F2D2B6; /* bege da logo */
}

/* HEADER */
header {
    text-align: center;
    padding: 20px;
}

/* LOGO */
.logo {
    width: 260px;
}

/* MENU */
#menu a {
    color: #F2D2B6;
    margin: 10px;
    text-decoration: none;
}

/* BOTÃO INSTA */
.insta-btn {
    background: #F2D2B6;
    color: #3E5A47;
    padding: 10px;
    display: inline-block;
    margin-top: 10px;
}

/* BANNER */
.banner {
    text-align: center;
    padding: 50px 20px;
}

/* LOGO GRANDE */
.logo-banner {
    width: 350px;
    margin-bottom: 20px;
}

/* BOTÃO */
button {
    background: #F2D2B6;
    color: #3E5A47;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

/* CARDS */
.cards {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.card {
    background: #F2D2B6;
    color: #3E5A47;
    padding: 20px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
}